* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



ul, nav, li, a {
    text-decoration: none;
    color: #000;
    gap: 25px;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}


a:hover {
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    transition: linear 0.5s ;
}

/**Projets**/

.Projet {
    display: flex;
    width: 100%;
    margin: 5px;
}

.projet_div_image {
    width: 100%;
}

.projet_image_genet21 {
    background-color: #000;
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
    width: 30%;
}



/**Wave animation css**/


.wave {
    opacity: .4;
    position: absolute;
    z-index: -2;
    top: 3%;
    background: #0af;
    width: 80%;
    height: 100%;
    margin-top: 25px;
    border-radius: 43%;
    animation: drift 8000ms infinite linear;
  }
  
  .wave.-three {
    animation: drift 9000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: rgb(98, 179, 255);
  }
  
  
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(180deg); }
  }