* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #050F1F;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/**Scrollbar**/

::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-track{background:#cccccc;border-radius:12px}
::-webkit-scrollbar-thumb{background:#202e5a;border-radius:4px}



ul, nav, li, a {
    text-decoration: none;
    color: #000;
    gap: 25px;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}


a {
  color: #fff;
  font-weight: bold;
}

a:hover {
    color: #fff;
    background-color: #202e5a;
    border-radius: 5px;
    transition: linear 0.5s ;
}

/**Projets**/

.Projet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 20px;
}

.projet_div_image {
    width: 100%;
}

.projet_image_global {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
    width: 95%;
}

.projet_image_global:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    transform: scale(1.03);
}


h3 {
    display: flex;
    color: #fff;
    justify-content: center;
    gap: 15px;
}


/**Loader**/
/* 
@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loader {
    position: relative;
    width: 96px;
    height: 96px;
    margin: 0 auto;
    margin-top: 20%;
    transform: rotate(45deg);
   }

   .loader span {
    color: #fff;
    position: absolute;
    margin-top: -40px;
    font-weight: bold;
    font-size: 15px;
    }


  .hidden {
    display: none;
  }
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   } */